<?xml version="1.0"?>
<!--
/**
 * @category  SixtySeven
 * @package   SixtySeven_LayeredNavigation
 * @author    67Commerce https://67commerce.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sixtyseven_extensions" translate="label" sortOrder="200">
            <label>SixtySeven Commerce Extensions</label>
        </tab>
        <section id="sixtyseven_faq" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>FAQ Settings</label>
            <tab>sixtyseven_extensions</tab>
            <resource>SixtySeven_Faq::sixtyseven_faq</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Faq Options</label>
                <field id="ajax" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>                
            </group>            
        </section>
    </system>
</config>